*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#lo{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 1%;
}
.navB{
    display: flex;
    /* padding: 2% 6%; */
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    align-items: center;
}
.navB h3{
    color: #fff;
    text-decoration: none;
    font-size: 23px;
}
.navL{
    flex: 1;
    text-align: right;
}
.navL ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navL ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 23px;
}
.navL ul li a::after {
    content:'';
    width: 0%;
    height: 2px;
    background: #e2d0ce;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navL ul li a:hover::after {
    width: 100%;
}

@media(max-width: 600px){
    .helloBox  h1{
        font-size: 42px;
    }
    

}